@model IEnumerable<WebApplication1.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Account
                        </th>
                        <th>
                            Delivery
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Total
                        </th>
                        <th></th>
                    </tr>

                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Account
                        </th>
                        <th>
                            Delivery
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Total
                        </th>
                        <th></th>
                    </tr>

                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.accuontName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Delivery.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.productName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id_user=item.id_user, id_pro=item.id_product }) |
                                @Html.ActionLink("Details", "Details", new { id_user = item.id_user, id_pro = item.id_product }) |
                                @Html.ActionLink("Delete", "Delete", new { id_user = item.id_user, id_pro = item.id_product })
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>

